body {
    margin:0px 5%;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
    }

header {
    margin-top: 10px;
}

footer {
    clear: left;
    width: 100%;
    background: #ccc;
    text-align: center;
    padding: 4px 0;
    position: relative;
    margin-top: 20px;
}

footer p {
    color: #555;
}

.radius {
    border-radius: 20px;
}

.img-style{
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0px;
}

.input-group-text {
    border-radius: 20px;
}

.input-group {
    border-radius: 20px;
}

.fix-form{
    margin-top: 10px;
}

.card-top{
    margin-top: 10px;
}

.info-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: left;
}

.info-name{
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 30px;
}

.reaction ul {
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: table;
}


.reaction ul li {
	justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 0px 20px;
    display: table-cell;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    border: 1px solid #fff;
    white-space: nowrap;
    width: 33%;
}

.reaction ul li:hover {
	background-color: #eee;
	border: 1px solid #eee;
}

.reaction-like:before {
	content: "\f004";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.reaction-nonlike:before {
	content: "\f004";
    font-family: "Font Awesome 5 Free";
	font-weight: 500;
}

.reaction-comment:before {
	content: "\f4ad";
    font-family: "Font Awesome 5 Free";
	font-weight: 500;
}

.reaction-share:before {
	content: "\f1e0";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.reaction-like span,
.reaction-nonlike span,
.reaction-comment span {
    font-size: 12px;
    position: absolute;
    margin-left: 5px;
}

.reaction-like span {
	color: #FF0000;	
	font-weight: 600;
}
.reaction-nonlike span {
	color: inherit;
	font-weight: 400;
}